* {
  margin: 0;
  padding: 0;
  font: inherit;
}

:root {
  /* Color */
  --pink-light: #C59DD2;
  --pink-base: #9547A5;
  --pink-dark: #7D298A;
  --pink-low: #3F0F41;

  --blue-light: #73B6D2;
  --blue-base: #358BB9;
  --blue-mid: #2374A4;
  --blue-dark: #144A72;
  --blue-low: #08233C;

  --shape-stroke: #002347;
  --shape-hover: #001933;
  --shape-base: #000F1F;
  --shape-background: #00050A;

  --txt-color-title: #F8FBFB;
  --txt-color-body: #E2E7E9;
  --txt-color-label: #BAC6C9;

  /* Text */
  --ff: "Raleway", sans-serif;
  --txt-title-lg: 700 3rem var(--ff);
  --txt-title-md: 700 2.5rem var(--ff);
  --txt-title-sm: 700 2rem var(--ff);
  --txt-title-xs: 700 1rem var(--ff);

  --txt-subtitle: 500 2rem/2 var(--ff);

  --txt-body-lg: 400 1.25rem/1.4 var(--ff);
  --txt-body-md: 400 1rem/1.4 var(--ff);
  --txt-body-sm: 400 0.875rem/1.4 var(--ff);
  --txt-body-xs: 400 0.75rem/1.4 var(--ff);

  --txt-button: 700 0.875rem var(--ff);
  --txt-link: 500 0.875rem var(--ff);
  --txt-tag: 700 0.625rem var(--ff);
}

body {
  background-color: var(--shape-background);
}