#hero {
  justify-content: center;

  #hero-img-wrapper {
    display: flex;
    flex-direction: column;

    height: 59.25rem;
    position: relative;
    overflow: hidden;
    margin-bottom: 6rem;

    & > img {
      overflow: hidden;
      position: absolute;
      bottom: 0;
      left: -7.5%;
      z-index: -1;
      height: 100%;
      width: 115%;
      opacity: 0;
      animation: appear 3s 100ms forwards;
    }

    & nav {
      margin: 3.5rem 10rem;

      display: flex;
      justify-content: space-between;
  
      & #logo {
        & img {
          width: 14.375rem;
          height: 3.625rem;
        }
        & img:nth-child(2) {
          display: none;
        }
      }
  
      & button {
        align-self: center;
        background-color: var(--pink-dark);
        color: var(--txt-color-title);
        font: var(--txt-button);
        
        border: none;
        border-radius: .5rem;
        width: 5.5625rem;
        height: 2.5rem;
      }
    }
  
    & #title {
      margin-inline: 15rem;
      text-align: center;

      & h1 {
        margin-block: 2rem;
        color: var(--txt-color-title);
        font: var(--txt-title-lg);
        opacity: 0;
        animation: appear 2s 500ms forwards;
      }
      & p {
        padding-inline: 2.75rem;
        color: var(--txt-color-body);
        font: var(--txt-body-lg);
        opacity: 0;
        animation: appear 3s 1.2s forwards;
      }
    }
  }

  & #subtitle {
    margin-inline: 7.5rem;
    padding: 7.125rem 2rem 9.875rem;

    text-align: center;
    font: var(--txt-subtitle);
    
    position: relative;

    & strong {
      color: var(--blue-light);
    }

    & img {
      position: absolute;
      /* spell book */
      &:nth-child(1) {
        top: 2rem;
        right: auto;
        height: 5.5rem;
        aspect-ratio: 1/1;
        transform: rotateZ(20.76deg);

        animation: unshrink linear forwards;
        animation-timeline: view();
        animation-range: 0px 350px;
      }
      /* uoija planchette */
      &:nth-child(2) {
        bottom: 6rem;
        left: 0;
        height: 5rem;
        aspect-ratio: 1/1;
        transform: rotateZ(99.47deg);

        animation: unshrink linear both;
        animation-timeline: view();
        animation-range: 0px 150px;
      }
  
      /* crystall ball */
      &:nth-child(3) {
        bottom: 6rem;
        right: 0;
        height: 4.5rem;
        aspect-ratio: 1/1;
        transform: rotateZ(-14.48deg);

        animation: unshrink linear both;
        animation-timeline: view();
        animation-range: 150px 300px;
      }
    }

    & span {
      &:nth-child(1){
        animation: text-color linear both;
        animation-timeline: view();
        animation-range: 200px 400px;

        & strong {
          animation: text-strong linear both;
          animation-timeline: view();
          animation-range: 200px 400px;
        }
      }

      &:nth-child(2){
        animation: text-color linear both;
        animation-timeline: view();
        animation-range: 300px 500px;

        & strong {
          animation: text-strong linear both;
          animation-timeline: view();
          animation-range: 300px 500px;
        }
      }

      &:nth-child(3){
        animation: text-color linear both;
        animation-timeline: view();
        animation-range: 400px 600px;

        & strong {
          animation: text-strong linear both;
          animation-timeline: view();
          animation-range: 400px 600px;
        }
      }
    }
  }
}


@keyframes appear {
  to {
    opacity: 1;
  }
}

@keyframes text-color {
  from {
    color: grey;
  }
  to {
    color: var(--txt-color-body);
  }
}

@keyframes text-strong {
  from {
    color: grey;
  }
  to {
    color: var(--blue-light);
  }
}

@keyframes unshrink {
  from {
    transform: scale(0.4) rotate(270deg);
  }
  to  {
    transform: scale(1) rotate(0deg);
  }
}