#kit {
  justify-items: center;

  & > header {
    & div{
      display: flex;
      gap: 1rem;
      & h2{
        font: var(--txt-title-sm);
        color: var(--txt-color-title);
      }
    }
    & p {
      margin-top: .3125rem;
      text-align: center;
      font: var(--txt-body-md);
      color: var(--txt-color-body);
    }
  }

  & #book-animation {
    aspect-ratio: 1440/920 ;
    width: 100%;
    margin: 7rem;

    position: relative;

    & p {
      position: absolute;
      text-align: center;
      font: var(--txt-body-md);
      color: var(--txt-color-title);
    }

    & div > img {
      position: absolute;
    }

    /* Book */
    & div:nth-child(1) {
      & img:nth-child(1) {
        z-index: 1;
        width: 32.4%;
        left: 50%;
        bottom: 50%;
        transform: translateY(50%) translateX(-57%);
      }
      & img:nth-child(2){
        width: 12.15%;
        left: 50%;
        bottom: 50%;
        transition: left 1s, bottom 1s;
      }
      & p:nth-child(3){
        width: 15.5%;
        left: 50%;
        bottom: 50%;
        transition: transform 1s, left 1s, bottom 1s;
      }
    }

    /* Pin */
    & div:nth-child(2) {
      & img:nth-child(1){
        width: 15.41%;
        left: 40%;
        bottom: 15%;
        transition: transform 1s, left 1s, bottom 1s;
      }
      & img:nth-child(2){
        width: 7.29%;
        left: 40%;
        bottom: 40%;
        transition: left 1s, bottom 1s;
      }
      & p:nth-child(3){
        width: 8.75%;
        left: 40%;
        bottom: 53%;
        transition: left 1s, bottom 1s;
      }
    }

    /* Book marks */
    & div:nth-child(3) {
      /* Purple */
      & img:nth-child(1){
        width: 11.94%;
        left: 50%;
        bottom: 18%;
        transition: transform 1s, left 1s, bottom 1s;
      }
      /* Yellow */
      & img:nth-child(2){
        width: 11.94%;
        left: 50%;
        bottom: 20%;
        transition: transform 1s, left 1s, bottom 1s;
      }

      & img:nth-child(3){
        width: 10%;
        left: 40%;
        bottom: 20%;
        transition: left 1s, bottom 1s;
      }
      & p:nth-child(4){
        z-index: -1;
        width: 15.5%;
        left: 50%;
        top: 70%;
        transition: left 1s, top 1s;
      }
    }
  }

  & #book-animation:hover {

    /* Book */
    & div:nth-child(1) {
      & img:nth-child(1) {
        left: 50%;
        bottom: 50%;
        transform: translateY(50%) translateX(-57%);
      }
      & img:nth-child(2){
        bottom: 82%;
        left: 22.2%;
      }
      & p:nth-child(3){
        bottom: 86%;
        left: 14.5%;
      }
    }

    /* Pin */
    & div:nth-child(2) {
      & img:nth-child(1){
        bottom: 10%;
        left: 22%;
        transform: rotateZ(-8deg);
      }
      & img:nth-child(2){
        bottom: 38%;
        left: 22%;
      }
      & p:nth-child(3){
        bottom: 53%;
        left: 21%;
      }
    }

    /* Book marks */
    & div:nth-child(3) {
      /* Purple */
      & img:nth-child(1){
        bottom: 30%;
        left: 67%;
        transform: rotateZ(22deg);
      }
      /* Yellow */
      & img:nth-child(2){
        bottom: 39%;
        left: 60%;
        transform: rotateZ(12deg);
      }

      & img:nth-child(3){
        bottom: 20%;
        left: 66%;
      }
      & p:nth-child(4){
        top: 82%;
        left: 59%;
      }
    }
  }
}