#price {
  aspect-ratio: 1440/1234;
  justify-items: center;
  background-image: url(../assets/pricing-background.png);
  background-size: contain;
  background-repeat: no-repeat;

  & > header {
    justify-items: center;
    margin-bottom: 8.625rem;

    & p {
      font: var(--txt-title-sm);
      color: var(--txt-color-title);
    }
  }

  & #price-wrapper{
    position: relative;
    width: 100%;
    min-height: 20rem;
    
    & > div {
      left: 50%;
      position: absolute;
      padding: 10px;
      border-radius: 1.5rem;

      & div {
        display: flex;
        flex-direction: column;
        border-radius: 1.5rem;
        background-color: var(--shape-base);
        border: 1px solid var(--shape-stroke);
        justify-content: space-between;
        height: 26rem;
  
        padding: 2rem;

        transition: all 800ms;
      }

      & div:hover {
        transform: translateY(-5%);
        z-index: 999;
        background-color: var(--shape-hover);

        &#mensal:hover, &#annual:hover {
          & > img:nth-last-child(1) {      
            transform: rotate(60deg);
          }
          & > img:nth-last-child(2) {
            transform: rotate(-60deg);
          }
        }
      }

      & h1{
        font: var(--txt-title-xs);
        margin-bottom: 1.5rem;
        width: 100%;
        text-align: left;

        display: flex;
        justify-content: space-between;
        
        & span {
          font: var(--txt-tag);
          color: var(--txt-color-body);
          padding: .5rem 1.25rem;
          border-radius: 999px;
          background-color: var(--shape-stroke);
          transform: translateY(-.5rem);
        }
      }
      & h2 {
        font: var(--txt-title-md);
        color: var(--txt-color-title);
        margin-bottom: .5rem;
        & small {
          font: var(--txt-title-xs);
        }
      }
      & h3 {
        font: var(--txt-body-sm);
        color: var(--txt-color-label);
      }

      & ul {
        list-style: none;
        font: var(--txt-body-xs);
        color: var(--txt-color-body);
        margin-bottom: 1.5rem;

        & li {
          display: flex;
          align-items: center;
          gap: .5rem;
          margin-bottom: .75rem;

          & img {
            height: 0.875rem;
            aspect-ratio: 1/1;
          }
        }
      }

      & button {
        font: var(--txt-button);
        color: var(--txt-color-title);
        padding-block: .75rem;
        width: 14rem;
        overflow: hidden;

        border-radius: .5rem;
        border: none;

        position: relative;
        & img {
          z-index: 1;
          transition: all 1s;
          position: absolute;
          opacity: 0.15;
          bottom:0;
          left: 0;
          width: 100%;
          height: 100%;
          transform: scale(0);
        }
        &:hover {
          & img {
            transform: scale(2);
          }
        }
      }
    }

    & #mensal, #annual{
      & h1 {
        color: var(--blue-light);
      }
      & button {
        background-color: var(--blue-dark);
      }
    }

    & #annual-wrappers, & #mensal-wrapper {
      & div {
        position: relative
      }
    }
    & #mensal {
      & > img:nth-last-child(1) { 
        transition: all 1s;     
        position: absolute;
        width: 1.625rem;
        bottom: 95%;
        right: 102%;
      }
      & > img:nth-last-child(2) {
        transition: all 1s;     
        position: absolute;
        width: 0.8125rem;
        bottom: 102%;
        right: 96%;
      }
    }
    & #annual {
      & > img:nth-last-child(1) {
        transition: all 1s;     
        position: absolute;
        width: 1.625rem;
        top: 95%;
        left: 102%;
      }
      & > img:nth-last-child(2) {
        transition: all 1s;     
        position: absolute;
        width: 0.8125rem;
        top: 102%;
        left: 96%;
      }
    }


    & #semestral-wrapper {
      z-index: 1;
      transform: translateX(-50%);
      & div{
        position: relative;
        & > img:nth-last-child(1) {
          position: absolute;
          bottom: 100%;
          left: 10%;
        }
      }

      & h1 {
        color: var(--pink-light);
      }
      & button {
        background-color: var(--pink-dark);
      }
    }
  }

  & .mensal-rotate, & .annual-rotate {
    position: absolute;
    transition: transform 1s;
    transform: translateX(-50%);
  }
}

#price:hover {
  & .mensal-rotate{
    transform: translateY(3rem) translateX(-150%) rotate(-8deg);
  }
  & .annual-rotate {
    transform: translateY(3rem) translateX(50%) rotate(8deg);
  }
}
